@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  text-decoration: none;
  color: #DFB9CD;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5)
}
#supersized img {
  opacity: 0.7;
}
#main-text {
  position: absolute;
  left: 55%;
  width: 35%;
  top: 23%;
  text-align: center;
  color: white;
}
#title {
  font: 72px 'Leckerli One', cursive;
}
#quote {
  font-family: 'Rosario', sans-serif;
  font-size: 28px;
  font-style: italic;
  line-height: 42px;
}
#contact {
  position: absolute;
  left: 2%;
  width: 23%;
  top: 65%;
  text-align: left;
  color: white;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 30px;	
}
#logo {
  position: relative;
  top: -85px;
  left: 125px;
}
#logo img{
    height: 65px;
}
