@charset "UTF-8";
body {
  background-color: #EBE3E0;
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin: 0;
}

#primary {
  height: 6em;
  border-bottom: 10px solid #f2f2f2;
}
#branding {
  float: left;
  margin-left: 15px;
}
#logo {
  float: left;
}
#site-name {
  float: right;
  font: 1.2em 'Leckerli One', cursive;
  color: #505050; margin-left: 5px;
}
#art1 {
  background-image: url('../img/bg-clouds.jpg'); 
  background-size: cover; 
}

nav ul {
  float: right; 
  margin-top: 35px;
}
nav li {
  list-style-type: none;
  display: inline; margin-left: 20px;
  margin-right: 40px;
}
nav li a {
  color: #444444;
}

.nav-current {
  color: rgb(104, 104, 104);
  font-weight: bold;
}
.clear {
  clear: both;
}

article header {
  font: 1em 'Leckerli One', cursive;
  font-size: 3em;
  text-align: center; 
  padding: 2%;
}

table {
  border-collapse: collapse;
  width: 70%;
  box-shadow: 8px 8px 4px #888888;
  background: whitesmoke;
  font-size: 0.8em;
}

table, th, td {
  margin: 0 auto 0;
  border: 1px solid rgb(174, 179, 174);
  text-align: center;
}

th, td {
  padding: 1em;
  width: 80px;
  font-size: 0.9em;
}

th {
  background-color: #454068;
  color: white;
  font-size: 1.2em;
}

.blue {
  background-color:#4295AA;
}
.yellow {
  background-color:#D18D43;
 }
.green {
  background-color:#809756;
}
#legend{
  font-size: 0.8em;
  margin-top: 2%;
  margin-left: 12%;
}
#legend ul {
  display: inline-flex;
}
#legend li {
  border:transparent;
  padding: 5px 20px;
  color: rgb(26, 25, 25);
  display: inline;
  list-style-type: none;
  margin: 0 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#art2 {
  float: left;
  margin-left: 15%;
}

#art2 ul {
    line-height: 2em;
    padding: 0;
    font-size: 0.9em;
    list-style-image: url('../img/bullet-point-daisy.jpg');
}
figure {
  float: right;
  margin-right: 10%;
  margin-top: 3%;
}
#map_wrapper {
    height: 300px;
    width: 570px;
}
#map_canvas {
  width: 100%;
  height: 100%;
}
